table
{
    margin: 0px auto;
}
tr
{
    border-color: black;
    border: solid;
    font-family:"Times New Roman";
    font-size:16px;
    padding: 3px;
}
.tableHeader
{
    font-size:24px;
    font-weight: bold;
    padding: 3px;
}